@model FinaPay.Contract.SubInitiateContract
@{
    ViewData["Title"] = "Initial Entry";
}
<form method="post" asp-controller="PayOffice">

    <div class="container alert alert-secondary" lock>
        <div class="form-group row p-md-2 ">
            <div class="col-3">
                <label for="OfficialNo" class="col-form-label">Trasnaction ID</label>
            </div>
            <div class="col-2">
                <div class="form-group has-success">
                    <span asp-validation-for="TransId" class="text-danger"></span>
                    <input asp-for="TransId" class="form-control" placeholder="TransId" disabled="" />
                </div>

            </div>

        </div>

        <div class="form-group row p-md-2 ">
            <div class="col-3">
                <label for="OfficialNo" class="col-form-label">Official No Details</label>
            </div>



            <div class="col-2">
                <div class="form-group has-success">

                    <span asp-validation-for="SysCode" class="text-danger"></span>
                    <select asp-for="SysCode"
                            class="form-control"
                            asp-items="Html.GetEnumSelectList<FinaPay.Contract.ESysCode>()">
                        <option>Select SysCode ...</option>
                    </select>
                </div>

            </div>

            <div class="col-2">
                <div class="form-group has-success">

                    <span asp-validation-for="CatCode" class="text-danger"></span>
                    <select asp-for="CatCode"
                            class="form-control"
                            asp-items="Html.GetEnumSelectList<FinaPay.Contract.ECatCode>()">
                        <option>Select CatCode ...</option>
                    </select>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group has-success">

                    <span asp-validation-for="OfficialNo" class="text-danger"></span>
                    <input asp-for="OfficialNo" class="form-control" placeholder="Official No" />
                </div>
            </div>
            <div class="col-2">
              <button asp-controller="PayOffice" asp-action="Search"  class="btn btn-primary">
                <i class="bi bi-search"></i> &nbsp;Load
                </button>
            </div>

        </div>




        <div class="row p-md-2 ">
            <div class="col-3">
                <label name="lblType" class="col-form-label">Type</label>
            </div>
            <div class="col-3">
                <span asp-validation-for="Type" class="text-danger"></span>
                <select asp-for="Type" class="form-control"
                        asp-items="Html.GetEnumSelectList<FinaPay.Contract.EType>()">
                  
                </select>
            </div>
            <div class="col-2 text-end">
                <label for="NgReference" class="col-form-label">NG Reference</label>
            </div>
            <div class="col-4">
                <span asp-validation-for="NgReference" class="text-danger"></span>
                <input asp-for="NgReference" class="form-control" placeholder="Navy Generel" />
            </div>
        </div>



        <div class="row p-md-2">
            <div class="col-3">
                <label for="dischargeDate" class="col-form-label">Discharge Date</label>
            </div>
            <div class="col-3">
                <span asp-validation-for="DischargeDt" class="text-danger"></span>
                <input class="form-control" asp-for="DischargeDt" asp-format="{0:yyyy-MM-ddTHH:mm}" />

            </div>
        </div>
        <div class="row p-md-2">
            <div class="col-3">
                <label for="PForm" class="col-form-label">Pension Form availability</label>
            </div>
            <div class="col-1">

                @Html.CheckBoxFor(m => m.PForm)

            </div>

            <div class="col-2">
                <label for="PFormPath" class="col-form-label">Pension Form-Path</label>
            </div>
            <div class="col-6">
                <span asp-validation-for="PFormPath" class="text-danger"></span>
                <input asp-for="PFormPath" class="form-control" placeholder="Pension Form-Path" />
            </div>
        </div>

        <div class="row p-md-2">
            <div class="col-3">
                <label for="Base" class="col-form-label">Relavent Base</label>
            </div>
            <div class="col-5">
                <span asp-validation-for="BaseCode" class="text-danger"></span>
                <select class="form-select  mb-3" asp-items="Model.Bases" asp-for="BaseCode">
                </select>
            </div>
        </div>
        <div class="row p-md-2">
            <div class="col-3">
                <label for="ChequePayment" class="col-form-label">Cheque Payement</label>
            </div>
            <div class="col-1">
                @Html.CheckBoxFor(m => m.CheckPayment)
            </div>
        </div>

        <div class="row p-md-2">
            <div class="col-3">
                <label for="Bankcode" class="col-form-label">Relavent Bank</label>
            </div>
            <div class="col-3">
                <span asp-validation-for="BankCode" class="text-danger"></span>
                <select class="form-select mb-3" asp-items="Model.Bank" asp-for="BankCode">
                </select>
            </div>

            <div class="col-2">
                <label for="Branchcode" class="col-form-label">Relavent Bank-Branch</label>
            </div>
          
            <div class="col-3">
                <span asp-validation-for="BranchCode" class="text-danger"></span>
                <select class="form-select  mb-3" asp-items="Model.Branch" asp-for="BranchCode">
                </select>
            </div>
        
        </div>
        <div class="row p-md-2">
            <div class="col-3">
                <label for="Account" class="col-form-label">Relavent Bank Account</label>
            </div>
            <div class="col-5">
                <span asp-validation-for="AccountNo" class="text-danger"></span>
                <select class="form-select  mb-3" asp-items="Model.Account" asp-for="AccountNo">
                </select>
            </div>
        </div>



        <div class="row p-md-2">
            <div class="col-3">
                <label for="VoucherNo" class="col-form-label">Voucher No</label>
            </div>
            <div class="col-3">
                <span asp-validation-for="VoucherNo" class="text-danger"></span>
                <input asp-for="VoucherNo" class="form-control" placeholder="Voucher No" />
            </div>
        

     
            <div class="col-3">
                <label for="VoucherDes" class="col-form-label">Voucher Description</label>
            </div>
            <div class="col-3">
                <span asp-validation-for="VoucherDes" class="text-danger"></span>
                <input asp-for="VoucherDes" class="form-control" placeholder="Decription" />
            </div>
        </div>

        <div class="row p-md-2">
            <div class="col-3">
                <label for="ChequeNo" class="col-form-label">Cheque No</label>
            </div>
            <div class="col-3">
                <span asp-validation-for="ChequeNo" class="text-danger"></span>
                <input asp-for="ChequeNo" class="form-control" placeholder="ChequeNo" />
            </div>
     

 
            <div class="col-3">
                <label for="ChequeDt" class="col-form-label">Cheque Date</label>
            </div>
            <div class="col-3">
                <span asp-validation-for="ChequeDt" class="text-danger"></span>
                <input class="form-control" asp-for="ChequeDt" asp-format="{0:yyyy-MM-ddTHH:mm}" />

            </div>
        </div>

        <div class="row p-md-2">
            <div class="col-3">
                <label for="PaymentDt" class="col-form-label">Payment Date</label>
            </div>
            <div class="col-3">
                <span asp-validation-for="PaymentDt" class="text-danger"></span>
                <input class="form-control" asp-for="PaymentDt" asp-format="{0:yyyy-MM-ddTHH:mm}" />
            </div>
        
            <div class="col-3">
                <label for="ActionComplete" class="col-form-label">ActionComplete</label>
            </div>
            <div class="col-3">
                <div class="form-check">

                    <input class="form-check-input" type="checkbox" asp-for="ActionComplete">

                </div>
            </div>



        </div>
        <div class="row p-md-2">
            <div class="col-3">
                <label for="Remarks" class="col-form-label">Remarks</label>
            </div>
            <div class="col-9">
                <span asp-validation-for="Remarks" class="text-danger"></span>
                <input asp-for="Remarks" class="form-control" placeholder="Remarks" />
            </div>
        </div>
        <div class="row p-md-2">
            <div class="col-6 offset-3">
                <a asp-controller="PayOffice" asp-action="Index" class="btn btn-warning" style="width:150px">Back to List</a>              
                 <button asp-controller="PayOffice" asp-action="Create"  class="btn btn-primary">Create</button>
                @*      <button asp-controller="Home" asp-action="InitialEntry" class="btn btn-primary">Submit</button>
                <button asp-controller="Home" class="btn btn-secondary">Clear</button>*@
            </div>

        </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/InitialEntry.js"></script>

















</form>