@model FinaPay.Contract.SubLoginContract

@{
    Layout = "_LoginLayout";
}
@{
    ViewData["Title"] = "Finalpay System";
}

<section>
    <form method="post" asp-action="Login" asp-controller="Login">
        <p class="text-danger"> @ViewBag.Message </p>



        <div class="form-outline mb-4">
            <select class="form-select form-select-lg mb-3" asp-items="Model.Units" asp-for="UnitId">
            </select>


            <input type="hidden" asp-for="UnitId" />

        </div>




        <div class="form-outline mb-4">


            <select class="form-select" asp-items="Model.Rolls" asp-for="RollId">
            </select>
            <input type="hidden" asp-for="RollId" />

        </div>

        <div class="form-outline mb-4">
            <span asp-validation-for="UserName"></span>
            <input asp-for="UserName" placeholder="SLN Email address" class="form-control form-control-lg" />

        </div>


        <div class="form-outline mb-4">
            <span asp-validation-for="Password"></span>
            <input asp-for="Password" placeholder="HRMS Password" class="form-control form-control-lg" />

        </div>



        <!-- Submit button -->


        <button asp-controller="Login" class="btn btn-primary btn-lg btn-block">Sign in</button>


        @if (TempData["Success"] != null)
        {
            <h2> TempData["Success"] </h2>
        }
    </form>


    @* @section Scripts {
    <partial name="_ValidationScriptsPartial" />
    }*@


</section>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/cascade.js"></script>
