@{
    ViewData["Title"] = "AccessDenied";
}
<div class="row">
    <div class="col-2"></div>
    <div class="col-8 alert alert-dismissible" role="alert">
        <div class="text-danger">
            <h1 class="text-danger alif" >Access Denied</h1>
            <h6 class="text-danger"> You do not have permission to view this Form</h6>
            <img src="~/images/noaccess.png" style="height:600px;width:800px" />

        </div>
    </div>
    <div class="col-2"></div>
</div>

