@{
    ViewData["Title"] = "Error Page";
}
 <p class="text-danger">
    User Does not have permission to access this Page.
    Please Check the user manual and access entitle pages for your user role.
</p>